Nombre: {{input type="Text" value=exam.nombre}} <br><br>
Fecha: {{input type="date" value=exam.fecha}} <br><br>
<button {{action 'borrar'}}>Quitar</button>
{{#link-to 'exam-detail' exam.id}}<button> Detalles </button>{{/link-to}}
<hr>