{{!-- The following component displays Ember's default welcome message. --}}
<h1>Examenes</h1>
{{!-- Feel free to remove this! --}}



<button>
{{#link-to 'lista-exam'}}
Lista
{{/link-to}}
</button>

{{outlet}}