<h2> Lista de Examenes </h2>
{{!-- <p> --- {{totalExamen}} --- </p> --}}
<ul>
	{{#each model as |exam|}}
		{{exam-ficha exam=exam}}
	{{/each}}
</ul>

<button {{action 'nuevo'}}>Examen Nuevo</button>
{{outlet}}
